@use 'sass:map';

@mixin from($size) {
  @include media($size) {
    @content;
  }
}

@mixin until($size) {
  @include media($size, true) {
    @content;
  }
}

@mixin media($size, $reverse: false) {
  @if (not map.has-key($responsive, $size)) {
    @error "#{$size} non è una media query registrata";
  }

  $size: map.get($responsive, $size);

  $query: 'min-width: #{$size}px';
  @if ($reverse) {
    $query: 'max-width: #{$size - $responsive-offset}px';
  }

  @media (#{$query}) {
    @content;
  }
}
