@use 'sass:map';
@use 'sass:math';

@mixin font-weight($size) {
  font-weight: #{font-weight($size)};
}

@function font-weight($size) {
  @return map.get($weights, $size);
}

// Converte il valore da XD a CSS
@mixin letter-spacing($spacing) {
  letter-spacing: math.div($spacing, 1000) * 1em;
}
