@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';

@function ratio($size, $font: $font-size) {
  @return math.div($size, pixel($font));
}

@function rem($size, $font: $font-size) {
  @return #{ratio(pixel($size), pixel($font))}rem;
}

@function pixel($size: $font-size) {
  @if (meta.type-of($size) == number and math.is-unitless($size)) {
    @return $size * 1px;
  }

  @if (meta.type-of($size) == string and string.index($size, 'rem') != null) {
    $rem: string.slice($size, 0, string.index($size, 'rem') - 1);

    @return number($rem) * $font-size;
  }

  @return $size;
}
