APP_TITLE="Naturalee"
API_ENDPOINT_URL=
STRIPE_PUBLIC_KEY=
RECAPTCHA_PUBLIC_KEY=
NUXT_PUBLIC_SITE_URL=http://localhost:3000

ENVIRONMENT=local

GTM_ID=
GTM_DEBUG=true
GTM_ENABLED=false

IUBENDA_ID=
IUBENDA_SITE_ID=
IUBENDA_CONSENT_PRIVATE_KEY=

# https://app.webpushr.com/integration/amp-key
WEBPUSHR_TOKEN=

VITE_SITE_URL=$NUXT_PUBLIC_SITE_URL
VITE_API_ENDPOINT_URL=$API_ENDPOINT_URL

SENTRY_DSN=
SENTRY_ENVIRONMENT=$ENVIRONMENT
SENTRY_AUTH_TOKEN=
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_DEBUG=false

NUXT_SITE_ENV=$ENVIRONMENT
