:root {
  @each $weight, $value in $weights {
    @include set-var(weight-#{$weight}, $value);
  }

  @each $name, $family in $font-family {
    @include set-var(family-#{$name}, $family);
  }

  @each $name, $value in $variables-to-set {
    @include set-var($name, $value);
  }
}

html {
  font-size: get-var(font-size);
}

body {
  font-family: get-var(family-main);
  color: get-var(text-color);
  background-color: get-var(background-color);
  overflow-x: hidden;
}

input,
select,
textarea {
  font-family: get-var(family-text);

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }
}

input,
select,
textarea,
button {
  &:focus {
    @extend %base-focus;
  }
}

#app {
  height: max(100vh, 100%);
}
