:root {
  --black: #{$black};
  --white: #{$white};
  --primary: #{$primary};
  --text: #{$text};
  --background: #{$black};
  --font-size: #{$font-size};
  --blur: blur(#{$blur});

  @include variable(overlay-padding, $overlay-padding);
}

// TODO: rendere dinamica questa parte
@font-face {
  font-family: 'Canela-Regular';
  src: url('@/assets/fonts/Canela-Regular.eot');
  src: url('@/assets/fonts/Canela-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('@/assets/fonts/Canela-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Canela-Regular.woff') format('woff'),
    url('@/assets/fonts/Canela-Regular.ttf') format('truetype'),
    url('@/assets/fonts/Canela-Regular.svg#Canela-Regular') format('svg');
}

body {
  font-family: 'Canela-Regular', sans-serif;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
}

#app {
  height: max(100vh, 100%);
}
