:root {
  @each $weight, $value in $weights {
    @include set-var(weight-#{$weight}, $value);
  }

  @each $name, $family in $font-family {
    @include set-var(family-#{$name}, $family);
  }

  @each $name, $value in $variables-to-set {
    @include set-var($name, $value);
  }

  @include set-media-vars(overlay-padding, $overlay-padding);
}

html {
  font-size: #{get-var(font-size)};
}

body {
  font-family: #{get-var(family-main)};
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

#app {
  height: max(100vh, 100%);
}
