:root {
  @each $weight, $value in $weights {
    @include set-var(weight-#{$weight}, $value);
  }

  @each $name, $family in $font-family {
    @include set-var(family-#{$name}, $family);
  }

  @each $name, $value in $variables-to-set {
    @include set-var($name, $value);
  }
}

html {
  font-size: get-var(font-size);
  scrollbar-width: thin;
  scrollbar-color: get-var(scrollbar-thumb-color) get-var(scrollbar-track-color);
}

body {
  font-family: get-var(family-main);
  color: get-var(text-color);
  background-color: get-var(background-color);
  overflow-x: hidden;
}

input,
select,
textarea {
  font-family: get-var(family-text);

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }
}

input,
select,
textarea,
button {
  &:focus {
    @extend %base-focus;
  }
}

sup {
  vertical-align: top;
}

#app {
  height: max(100vh, 100%);
}

::-webkit-scrollbar {
  width: rem(8px);
}

::-webkit-scrollbar-track {
  background-color: get-var(scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  border-radius: get-var(border-circle);
  border: 1px solid get-var(scrollbar-track-color);
  background-color: get-var(scrollbar-thumb-color);
}
