@mixin layout($parent, $child) {
  @include object($parent) {
    display: flex;
    flex-wrap: wrap;
    gap: get-var(gap, rem(20px), $prefix: $parent);
    @include element($child) {
      width: get-var(width, calc(100% / get-var(columns, 1, $prefix: $parent) - (get-var(gap, rem(20px), $prefix: $parent) * (get-var(columns, 1, $prefix: $parent) - 1) / get-var(columns, 1, $prefix: $parent))), $prefix: $child);
    }
    @content;
  }
}

@include layout('row', 'column'); 