$prefix-row: 'row';
@include object($prefix-row) {
  display: flex;
  flex-wrap: wrap;
  gap: get-var(gap, rem(20px), $prefix: $prefix-row);

  @include element('column') {
    width: calc(
      100% / get-var(columns, 1, $prefix: $prefix-row) -
        (
          get-var(gap, rem(20px), $prefix: $prefix-row) *
            (get-var(columns, 1, $prefix: $prefix-row) - 1) /
            get-var(columns, 1, $prefix: $prefix-row)
        )
    );
  }
}
