@use "sass:meta";
@use "sass:list";

// https://kittygiraudel.com/2013/08/08/advanced-sass-list-functions/

@function list-to-string($list, $glue: '', $is-nested: false) {
  $result: null;

  @for $i from 1 through list.length($list) {
    $e: list.nth($list, $i);

    @if meta.type-of($e) == list {
      $result: $result#{list-to-string($e, $glue, true)};
    } @else {
      $result: if(
        $i != list.length($list) or $is-nested,
        $result#{$e}#{$glue},
        $result#{$e}
      );
    }
  }

  @return $result;
}
