@use 'sass:list';
@use 'sass:string';

// https://stackoverflow.com/a/65853667
@function string-split($str, $substr) {
  $nList: ();

  @while string.index('#{$str}', '#{$substr}') != null {
    @if (string.index('#{$str}', '#{$substr}') > 1) {
      $nList: list.append(
        $nList,
        string.slice('#{$str}', 1, string.index('#{$str}', '#{$substr}') - 1)
      );
    }

    $str: string.slice(
      '#{$str}',
      string.index('#{$str}', '#{$substr}') + 1,
      string.length('#{$str}')
    );
  }

  @if (string.slice('#{$str}', 1, string.length('#{$str}')) != '') {
    $nList: list.append(
      $nList,
      string.slice('#{$str}', 1, string.length('#{$str}'))
    );
  }

  @return $nList;
}
