$overlay-padding: (
  mobile: rem(16px),
  tablet: rem(30px),
  desktop: rem(50px) rem(50px) rem(30px) rem(50px),
);

$blur: 10px;

$variables-to-set: (
  font-size: $font-size,

  border-circle: 999em,
  color-green: $green,
  color-red: $red,
  color-brown: $brown,
  color-orange: $orange,
  color-yellow: $yellow,
  color-light: $light,
  color-dark: $dark,
  color-white: $white,
  color-black: $black,

  text-color: $text-color,
  background-color: $background-color,
  border-color: $border-color,
  container-width: rem($container-width),
);
