$overlay-padding: (
  mobile: rem(16px),
  tablet: rem(30px),
  desktop: rem(50px) rem(50px) rem(30px) rem(50px),
);

$blur: 10px;

$variables-to-set: (
  font-size: $font-size,

  border-circle: 999em,
  rgb-green: hex-to-rgb($green),
  color-green: $green,
  rgb-red: hex-to-rgb($red),
  color-red: $red,
  rgb-brown: hex-to-rgb($brown),
  color-brown: $brown,
  rgb-orange: hex-to-rgb($orange),
  color-orange: $orange,
  rgb-yellow: hex-to-rgb($yellow),
  color-yellow: $yellow,
  rgb-light: hex-to-rgb($light),
  color-light: $light,
  rgb-dark: hex-to-rgb($dark),
  color-dark: $dark,
  rgb-white: hex-to-rgb($white),
  color-white: $white,
  rgb-black: hex-to-rgb($black),
  color-black: $black,

  rgb-text-color: hex-to-rgb($text-color),
  text-color: $text-color,
  background-color: $background-color,
  border-color: $border-color,
  container-width: rem($container-width),
  container-padding: rem($container-padding),
  container-size: calc(#{get-var(container-width)} + #{get-var(container-padding)} * 2),
);
