$font-size: 14px;

$green: #00966e;
$red: #e4002b;
$brown: #653818;
$orange: #ff5600;
$yellow: #ffd100;

$light: #f0f1fb;
$dark: #101820;

$white: #ffffff;
$black: #000000;

$text-color: $dark;
$background-color: $light;

$font-family: (
  main: (
    Mulish,
    sans-serif,
  ),
  text: (
    Lato,
    sans-serif,
  ),
);

$transition-timing-function: ease-in-out;
$transition-duration: 300ms;
$transition-delay: 0ms;

$container-width: 1600px;
$container-padding: 20px;

$responsive: (
  tablet: 768,
  desktop: 992,
  full: 1600,
);
$responsive-offset: 0.02;

$weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);

$utilities-sizes: (
  none: 0,
  micro: 4,
  mini: 8,
  tiny: 12,
  small: 16,
  half: 20,
  medium: 24,
  large: 30,
  huge: 40,
);

$utilities-with-sizes: (
  mt: margin-top,
  mb: margin-bottom,
  pt: padding-top,
  pb: padding-bottom,
);

$utilities-without-sizes: (
  text: (
    rule: text-align,
    values: (
      left,
      center,
      right,
      justify,
    ),
  ),
);
