$font-size: 14px;

$green: #00966e;
$red: #e4002b;
$brown: #653818;
$orange: #ff5600;
$yellow: #ffd100;

$light: #f0f1fb;
$dark: #101820;

$white: #ffffff;
$black: #000000;

$text-color: $dark;
$background-color: $light;
$border-color: #707070;

$transition-timing-function: ease-in-out;
$transition-duration: 300ms;
$transition-delay: 0ms;

$responsive: (
  tablet: 768,
  desktop: 992
);

$weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);
