$font-size: 16px;
$primary: #bf9000;
$white: #ffffff;
$black: #000000;
$text: #161615;

$transition-timing-function: ease-in-out;
$transition-duration: 300ms;
$transition-delay: 0ms;

$responsive: (
  tablet: 768,
  desktop: 992
);
